/* // colors */
$primary: #1e1b2e;
$green: #24b5aa;
$yellow: #fcca4f;
$red: #b92025;
$white: #f2f2f2;
$light-grey: #959494;
$primary-hover: rgb(49, 44, 76);

/* //   font size */
$font-default: 16px;
$font-less: 14px;
$font-heading2: 20px;
$font-heading: 25px;
$font-heading3: 35px;

/* //Screen Size */
$mobile-view: 680px;
$tablet-view: 920px;
$desktop-view: 1200px;
